@use '../../style/inputs';

.crafting-panel-filters {
  &__books-show,
  &__books-hide {
    @include inputs.hide-input;
    @include inputs.button-base;

    &--selected {
      opacity: 1;
    }
  }

  &__books-show {
    background-color: green;
  }

  &__books-hide {
    background-color: red;
  }
}

button {
  border-radius: 3px;
  border: none;
  height: 20px;
  padding-bottom: 1px;
  padding-left: 5px;
  vertical-align: middle;
}

button:disabled {
  background-color: #333 !important;
  color: #666 !important;
  pointer-events: none;
}
