@use '../../../style/books';
@use '../../../style/inputs';

.recipes {
  &__recipe {
    @include books.books;
    @include inputs.hide-input;
    @include inputs.button-base;

    border: 2px solid transparent;

    &--selected {
      background-image: linear-gradient(rgba(255, 255, 255, 0.4) 0 0);
    }

    &:focus {
      border: 2px solid red;
    }
  }
}
