@use '../../../style/books';
@use '../../../style/inputs';

.crafting-panel-filters {
  &__books-button {
    opacity: 0.4;
  }

  &__books-button,
  &__books-show,
  &__books-hide {
    @include inputs.hide-input;
    @include inputs.button-base;

    &--selected {
      opacity: 1;
    }
  }

  &__books-show {
    background-color: green;
  }

  &__books-hide {
    background-color: red;
  }

  &__books-button {
    @include books.books;
  }
}

.recipes {
  &__recipe {
    @include books.books;
    @include inputs.hide-input;
    @include inputs.button-base;

    border: 2px solid transparent;

    &--selected {
      background-image: linear-gradient(rgba(255, 255, 255, 0.4) 0 0);
    }

    &:focus {
      border: 2px solid red;
    }
  }
}
