@use '../../style/layouts';

$options_width: 455px;
$options_padding: 1rem;
$options_border-radius: 10px;

@mixin options-button {
  cursor: pointer;
  border-radius: $options_border-radius;
  height: 15px;
  width: 15px;
  padding: 10px;
}

.quick-crafter__options {
  @include layouts.flex-column;
  background-color: rgb(65, 65, 65);
  border: 1px outset black;
  border-radius: $options_border-radius;
  box-shadow: 5px 5px 5px black;
  gap: 0.5rem;
  padding: $options_padding;
  padding-top: 0;
  width: $options_width;
  left: calc(-1 * #{$options_width} - 2 * #{$options_padding});
  position: absolute;
  z-index: 10000; // (11 is) +1 from books #crafting_recipes #items_list h3 z-index.. but actually +1 from .itemslot

  &-wrapper {
    float: right;
    position: relative;
  }

  &-button,
  &--close {
    @include options-button;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    right: 0;
  }

  &-title {
    width: 100%;
    padding-left: 0.75rem;
  }

  &-section {
    @include layouts.flex-row;
    gap: 0.25rem;
  }

  h3 {
    border-bottom: 1px solid;
  }
  h4 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}
